---
title: bren.do
---

<div class="welcome">
  <h1>bren.do</h1>
</div><!-- .welcome -->
<div class="site_links">
  <p>
  	<a href="sketchnotes.html">sketchnotes</a>
  	<a href="http://twitter.com/brennx0r">twitter</a>
  	<a href="https://github.com/brennx0r">code</a>
  	<a href="mailto:hello@bren.do?Subject=Hello there bren! Thought I'd say hello. :-)" target="_top">hello@bren.do</a>
  </p>
</div>
