---
title: sketchnotes
---

<div class="header">
  <p>
  	<%= link_to 'sketchnotes', 'sketchnotes.html', :relative => true %>
  	<%= link_to 'twitter', 'http://twitter.com/brennx0r' %>
  	<%= link_to 'code', 'https://github.com/brennx0r' %>
  	<a href="mailto:hello@bren.do?Subject=Hello there bren! Thought I'd say hello. :-)" target="_top">hello@bren.do</a>
  </p>
</div>

<div class="sketchnotes">
  <h1>sketchnotes</h1>
</div>